@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter/inter.ttf") format("truetype");
}

:root {
  --shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  --bg-dark: hsl(319 100% 3%);
  --bg: hsl(315 100% 5%);
  --bg-light: hsl(314 100% 8%);
  --text: hsl(321 100% 99%);
  --text-muted: hsl(320 50% 73%);
  --highlight: hsl(314 72% 38%);
  --border: hsl(311 100% 21%);
  --border-muted: hsl(311 100% 13%);
  --primary: hsl(317 100% 73%);
  --secondary: hsl(163 100% 28%);
  --danger: hsl(7 100% 66%);
  --warning: hsl(53 100% 21%);
  --success: hsl(162 100% 22%);
  --info: hsl(217 100% 70%);
}

body.light {
  --bg-dark: hsl(321 100% 94%);
  --bg: hsl(321 100% 99%);
  --bg-light: hsl(321 100% 100%);
  --text: hsl(312 100% 5%);
  --text-muted: hsl(311 100% 21%);
  --highlight: hsl(319 100% 100%);
  --border: hsl(316 55% 52%);
  --border-muted: hsl(317 78% 65%);
  --primary: hsl(311 100% 21%);
  --secondary: hsl(154 100% 5%);
  --danger: hsl(4 99% 37%);
  --warning: hsl(50 100% 12%);
  --success: hsl(159 100% 9%);
  --info: hsl(215 95% 42%);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: hsl(321 100% 94%);
    --bg: hsl(321 100% 99%);
    --bg-light: hsl(321 100% 100%);
    --text: hsl(312 100% 5%);
    --text-muted: hsl(311 100% 21%);
    --highlight: hsl(319 100% 100%);
    --border: hsl(316 55% 52%);
    --border-muted: hsl(317 78% 65%);
    --primary: hsl(311 100% 21%);
    --secondary: hsl(154 100% 5%);
    --danger: hsl(4 99% 37%);
    --warning: hsl(50 100% 12%);
    --success: hsl(159 100% 9%);
    --info: hsl(215 95% 42%);
  }
}

/* Default for very large screens (8K and above) */
html {
  font-size: 24px;
}

/* 8K screens (max-width: 7680px) */
@media (max-width: 7680px) {
  html {
    font-size: 32px;
  }
}

/* Slightly smaller screens */
@media (max-width: 6000px) {
  html {
    font-size: 30px;
  }
}

/* 4K screens */
@media (max-width: 4800px) {
  html {
    font-size: 28px;
  }
}

/* High-resolution desktops */
@media (max-width: 3600px) {
  html {
    font-size: 26px;
  }
}

/* Wide monitors / ultrawide */
@media (max-width: 2560px) {
  html {
    font-size: 24px;
  }
}

/* Standard large desktop screens */
@media (max-width: 1920px) {
  html {
    font-size: 17px;
  }
}

/* Smaller desktops/laptops – letting the font be set to 16px here */
@media (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

/* Medium screens */
@media (max-width: 720px) {
  html {
    font-size: 13px;
  }
}

/* Small devices */
@media (max-width: 375px) {
  html {
    font-size: 12px;
  }
}

/* 
*   Kevin Powell Reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

/* img, */
/* picture, */
/* svg, */
/* video { */
/*   display: block; */
/*   max-width: 100%; */
/* } */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

button:hover {
  cursor: pointer;
}

/* Scrollbar for Chromium */
nav::-webkit-scrollbar {
  height: 5px;
}

nav::-webkit-scrollbar-track {
  background: var(--bg-dark);
}

nav::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 5px;
}

nav::-webkit-scrollbar-thumb:hover {
  background: var(--text);
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
