@import url("../utils/css/root.css");
@import url("../utils/css/scrollbar.css");

body {
  background-color: var(--bg-dark);
  color: var(--text);
  height: 100vh;
}

nav {
  padding: 1rem;
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.links {
  font-family: Atkin;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
  transition:
    color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.links:hover {
  --color: var(--secondary);
  color: var(--color);
  border-color: var(--color);
}

.links:hover {
  cursor: pointer;
}

.main-container {
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
  margin-block: 2rem;
  padding-inline: 1.6rem;
  width: 100%;
  height: 60%;
}

.hero-text {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-family: Atkin;
  color: var(--primary);
  font-size: 5.875rem;
  font-weight: bold;
  max-width: 8ch;
  text-transform: uppercase;
  line-height: 08rem;
}

.desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  font-family: Cou;
}

.about_contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.des-container {
  margin-top: 0.75rem;
}

.hi-text {
  font-weight: bold;
  font-family: Atkin;
  text-transform: uppercase;
}

.desc-text,
.contact-text {
  font-family: Atkin;
  font-size: 1rem;
  text-align: justify;
  color: var(--text);
  max-width: 42ch;
  line-height: 1.8125rem;
  padding-bottom: 1rem;
}

.contact-text {
  font-weight: bold;
  display: flex;
  gap: 1.5rem;
}

.em {
  color: var(--primary);
  font-weight: initial;
  font-size: initial;
  text-transform: initial;
}

.git-btn {
  background: transparent;
  text-align: center;
  border: 0.1875rem solid var(--primary);
  max-width: 42ch;
  width: 100%;
  border-radius: 100vw;
  padding: 1.5rem;
  color: var(--primary);
  font-family: Atkin;
  font-size: 3rem;
}

@media (max-width: 720px) {
  nav {
    padding: 2rem;
  }
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 3rem;
    height: 80vh;
  }

  .links {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary);
  }

  .hero-text {
    font-size: 4rem;
    line-height: 5rem;
  }

  .em {
    font-size: initial;
  }

  .git-btn {
    font-family: Atkin;
  }
  .about_contact-container {
    padding-inline: 10vw;
    padding-block: 2rem;
    align-items: flex-start;
    justify-content: center;
  }
  .contact-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
  }
  .contact-text a {
    width: 100%;
    margin-left: 2rem;
  }
}
